body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.list-group-item{
  padding: .50rem 1.25rem !important;
}
.breadcrumb{
  padding: .10rem 1rem  !important;
}
.navbar{
  padding: .3rem 1rem  !important;
}
.btn-sm{
  padding: .0.3rem .2rem !important;
}
